:root {
    --primarycolor: orange;
    --Hovercolor: #ff7700;
    --blackcolor: #090400fc;
    --textcolor: gray;
    --inputcolor: rgb(224, 220, 220);
    --greytext: rgba(96, 76, 76, 0.697);
    --greyBg: rgb(192, 192, 192);
    --whitecolorDeam: white;
    --whitecolor: white;
  }

  /* Footer container styling */
.footer {
    background-color: var(--blackcolor);
    color: var(--whitecolor);
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 -4px 6px var(--greytext);
}

/* Layout adjustments for footer content */
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap:30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Footer logo section */
.footer-logo h2 {
    color: var(--primarycolor);
    margin-bottom: 5px;
    font-size: 2rem;
}

.footer-logo p {
    font-size: 1rem;
    color: var(--whitecolor);
}

/* Footer links */
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-links li {
    margin: 10px 0;
    font-size: 0.95rem;
  color: var(--whitecolor);
}

/* Styling for footer links */
.footer-links a {
    color: var(--whitecolor);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--primarycolor);/* Changes color on hover */
}


/* Social media icons styling */
.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social a {
    font-size: 1.5rem;
    color: var(--whitecolor);
    transition: color 0.3s, transform 0.3s;
}

/* Hover effect for social media icons */
.footer-social a:hover {
    color: var(--Hovercolor);
    transform: scale(1.2);
}

/* Bottom section of the footer */
.footer-bottom {
    margin-top: 30px;
    font-size: 0.7rem;
    color: var(--whitecolor);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-bottom p {
margin: 0;
}
