@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
  transition:  .3s ease;

}

/* colors */
:root{
  --primarycolor: orange;  /* A shade of blue */
  --Hovercolor:#ff7700; /* A shade of green */
  --blackcolor: #090400fc; /* Light gray */
  --textcolor:gray; /* Dark gray */
  --inputcolor:rgb(224, 220, 220);
  --greytext:rgba(96, 76, 76, 0.697);
  --greyBg:rgb(192, 192, 192);
  --whitecolorDeam:white;
  --whitecolor:white;
}

a{
  text-decoration: none;

}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;

}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

.icon{
  font-size:2rem;
  cursor:pointer;
  
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  
  background:var(--primarycolor);
  border: none;
  outline:none;
  border-radius: 3rem;
  cursor: pointer;
  
  

}

.btn a{
  color:var( --whitecolor);
  font-weight: 500;

}

.btn:hover a{
  color:var(--whitecolor);
}

.secIntro{
  max-width: 70%;
  text-align: center;
  margin:0 auto 2rem;

}

.secIntro .secTitle{
  color:var(--blackcolor);
  line-height: 1.5rem;
  padding-bottom: .5rem;

}

.secIntro p{
  font-size: 13px;
  color:var(--textcolor);
  font-weight: 500;
}

img,video{
  width:100%;
  height: auto;

}

input{
  font-size: 100%;
}

/* this is all for the default styling */